.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
}

.text-field:focused {
    -fx-border-color: #007BFF; /* Color del borde cuando está enfocado */
    -fx-border-width: 1px;
    -fx-border-radius: 3px;

}
.text-field2 {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
    -fx-text-fill: white;
}

.text-field2:focused {
    -fx-border-color: #007BFF; /* Color del borde cuando está enfocado */
    -fx-border-width: 1px;
    -fx-border-radius: 3px;

}
.text-field2.edited{
    -fx-background-color: white;
}

.rectangle {
    -fx-background-color: linear-gradient(to bottom right, #00574a, #0a002c);
    -fx-border-color: #000;
}

.tab-pane {
    -fx-tab-min-width: 120px; /* Ancho mínimo de las pestañas */
    -fx-tab-max-width: 120px; /* Ancho máximo de las pestañas */
}

.tab {
    -fx-background-color: transparent; /* Fondo transparente */
}

.tab-label {
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
}

.tab:selected .tab-label {
    -fx-text-fill: #007BFF; /* Color del texto cuando la pestaña está seleccionada */
}
/* Estilo para la tabla */



.buttonRed{
    -fx-background-color: red;
    -fx-border-color: red;
    -fx-text-fill:   white ;

}
.buttonRed:hover{
    -fx-background-color: transparent;
    -fx-text-fill:   red;
    -fx-cursor: hand;
}

.buttonGreen{
    -fx-background-color: green;
    -fx-border-color: green;
    -fx-text-fill:   white ;

}
.buttonGreen:hover{
    -fx-background-color: transparent;
    -fx-text-fill:   white;
    -fx-cursor: hand;
}
.button-Green-WhiteBack{
    -fx-background-color: green;
    -fx-border-color: green;
    -fx-text-fill:   white ;

}
.button-Green-WhiteBack:hover{
    -fx-background-color: transparent;
    -fx-text-fill:   green;
    -fx-cursor: hand;
}

.button:hover{
    -fx-cursor: hand;
}

.button-links{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill:   #3c00ff ;
}
.button-links{
    -fx-cursor: hand;
}

.carrito-background{
    -fx-background-image: url('../images/CarritoBackground.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-opacity: 60%;
}
.registro-items{
    -fx-background-image: url('../images/RegistroImage.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-opacity: 60%;
}

.factura-table-view {
    -fx-font-size: 14px;
}

.factura-table-view .column-header-background {
    -fx-background-color: #4CAF50; /* Color de fondo del encabezado de la columna */
    -fx-text-fill: white; /* Color del texto del encabezado de la columna */
}

.factura-table-view .column-header-background .label {
    -fx-padding: 5px; /* Espaciado dentro del encabezado de la columna */
}

.factura-table-view .table-row-cell {
    -fx-background-color: #F5F5F5; /* Color de fondo de las filas */
}

.factura-table-view .table-row-cell:odd {
    -fx-background-color: #EEEEEE; /* Color de fondo de las filas impares */
}

.factura-table-view .table-cell {
    -fx-padding: 5px; /* Espaciado dentro de las celdas */
}

.factura-table-view .column-header .filler {
    -fx-padding: 0.166667em; /* Espaciado entre las columnas */
}

.factura-table-view .column-header .sort-arrow {
    -fx-padding: 0.416667em; /* Espaciado del indicador de orden */
}

.detalleVenta-background{
    -fx-background-image: url('../images/DetalleVentaBackground.jpeg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-opacity: 60%;
}

.table-view2 {
    -fx-background-color: transparent;
}
.table-view2 .column-header-background .filler {
    -fx-background-color: transparent;

}
.table-view2 .corner {
    -fx-background-color: transparent;

}
.table-view2 .column-header {
    -fx-background-color: transparent;
}
.table-view2 .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #E8E8E8, #FFFFFF);
    -fx-background-radius: 7px 7px 0px 0px;

}

.table-row-cell: hover {
     -fx-background-color: #93f9b911;
     -fx-text-background-color: green;
}
.table-view2 .virtual-flow .scroll-bar:vertical,
.table-view2 .virtual-flow .scroll-bar:vertical .track,
.table-view2 .virtual-flow .scroll-bar:vertical .track-background,
.table-view2 .virtual-flow .scroll-bar:horizontal,
.table-view2 .virtual-flow .scroll-bar:horizontal .track,
.table-view2 .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view2 .virtual-flow .scroll-bar .increment-button,
.table-view2 .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view2 .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view2 .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.tabs{
    -fx-background-color: transparent;
    -fx-border-radius: 10px;

}
.tabs : focused{
    -fx-border-color: transparent;
}









