.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
}

.text-field:focused {
    -fx-border-color: #007BFF; /* Color del borde cuando está enfocado */
    -fx-border-width: 1px;
    -fx-border-radius: 3px;

}
.text-field2 {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
}

.text-field2:focused {
    -fx-background-color: white;
    -fx-border-color: #007BFF; /* Color del borde cuando está enfocado */
    -fx-border-width: 1px;
    -fx-border-radius: 3px;

}
.text-field2.edited{
    -fx-background-color: white;
}

.rectangle {
    -fx-background-color: linear-gradient(to bottom right, #00574a, #0a002c);
    -fx-border-color: #000;
}

.tab-pane {
    -fx-tab-min-width: 120px; /* Ancho mínimo de las pestañas */
    -fx-tab-max-width: 120px; /* Ancho máximo de las pestañas */
}

.tab {
    -fx-background-color: transparent; /* Fondo transparente */
}

.tab-label {
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
}

.tab:selected .tab-label {
    -fx-text-fill: #007BFF; /* Color del texto cuando la pestaña está seleccionada */
}
/* Estilo para la tabla */
.table-view {
    -fx-background-color: #FFFFFF; /* Color de fondo */
}

/* Estilo para las celdas */
.table-cell {
    -fx-padding: 5px; /* Espaciado interno */
    -fx-alignment: center; /* Alineación centrada */
}

/* Estilo para las filas pares */
.table-row-cell:even {
    -fx-background-color: #F5F5F5; /* Color de fondo para filas pares */
}

/* Estilo para las filas impares */
.table-row-cell:odd {
    -fx-background-color: #EAEAEA; /* Color de fondo para filas impares */
}

/* Estilo para las filas seleccionadas */
.table-row-cell:selected {
    -fx-background-color: #007BFF; /* Color de fondo para filas seleccionadas */
    -fx-text-fill: white; /* Color de texto para filas seleccionadas */
}


.buttonRed{
    -fx-background-color: red;
    -fx-border-color: red;
    -fx-text-fill:   white ;

}
.buttonRed:hover{
    -fx-background-color: transparent;
    -fx-text-fill:   red;
    -fx-cursor: hand;
}

.buttonGreen{
    -fx-background-color: green;
    -fx-border-color: green;
    -fx-text-fill:   white ;

}
.buttonGreen:hover{
    -fx-background-color: transparent;
    -fx-text-fill:   white;
    -fx-cursor: hand;
}
.button-Green-WhiteBack{
    -fx-background-color: green;
    -fx-border-color: green;
    -fx-text-fill:   white ;

}
.button-Green-WhiteBack:hover{
    -fx-background-color: transparent;
    -fx-text-fill:   green;
    -fx-cursor: hand;
}

.button:hover{
    -fx-cursor: hand;
}

.button-links{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill:   #3c00ff ;
}
.button-links{
    -fx-cursor: hand;
}

.carrito-background{
    -fx-background-image: url('../images/CarritoBackground.jpeg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-opacity: 60%;
}
.registro-items{
    -fx-background-image: url('../images/RegistroImage.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-opacity: 60%;
}





